.popup-gallery__main-img
  display block
  max-width 100%
  float right

.popup-gallery__close
  background none
  border none
  cursor pointer
  font-size 70px
  float right
  line-height 1
  +m-min($md)
    margin 30px 0 0 0
  &:focus
    outline none